<a href="https://colab.research.google.com/github/KarandikarA/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Preprocessing

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
values_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = values_counts[values_counts <= 777].index.tolist()

# Replace in dataframe
for classification in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classification,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Replace the SPECIAL_CONSIDERATIONS values with 0 and 1
application_df['SPECIAL_CONSIDERATIONS'] = application_df['SPECIAL_CONSIDERATIONS'].replace({'N':0, 'Y':1})

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(application_df[["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT"]])
final_df = application_df.merge(encoded_df, left_index=True, right_index=True)
final_df = final_df.drop(columns=["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT"])
final_df.head()

,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,0,5000,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,0,108590,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,0,5000,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,1,0,6692,1,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,0,142590,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = final_df["IS_SUCCESSFUL"]
X = final_df.drop(columns=["IS_SUCCESSFUL"])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

### Optimzing the model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model_1 = tf.keras.models.Sequential()

# First hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=120, activation="relu", input_dim=42))

# Second hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Output layer
nn_model_1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model_1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               5160

 dense_1 (Dense)             (None, 80)                9680

 dense_2 (Dense)             (None, 1)                 81

=================================================================
Total params: 14921 (58.29 KB)
Trainable params: 14921 (58.29 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn_model_1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model_1.fit(X_train_scaled, y_train, epochs=2)

Epoch 1/2
804/804 [==============================] - 3s 2ms/step - loss: 0.5707 - accuracy: 0.7224
Epoch 2/2
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7297

In [ ]:
# Evaluate the model using the test data
model_loss_1, model_accuracy_1 = nn_model_1.evaluate(X_test_scaled,y_test,verbose=2, batch_size=1 )
print(f"Loss: {model_loss_1}, Accuracy: {model_accuracy_1}")

8575/8575 - 21s - loss: 0.5591 - accuracy: 0.7241 - 21s/epoch - 2ms/step
Loss: 0.5591036081314087, Accuracy: 0.7240816354751587

In [ ]:
# Export our model to HDF5 file
nn_model_1.save("Outputs/Optimizations/AlphabetSoupCharity_Xtra_neurons.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

### Running Model with more layers

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=42))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu"))
# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3440

 dense_4 (Dense)             (None, 80)                6480

 dense_5 (Dense)             (None, 30)                2430

 dense_6 (Dense)             (None, 1)                 31

=================================================================
Total params: 12381 (48.36 KB)
Trainable params: 12381 (48.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=2)

Epoch 1/2
804/804 [==============================] - 3s 2ms/step - loss: 0.5677 - accuracy: 0.7231
Epoch 2/2
804/804 [==============================] - 3s 3ms/step - loss: 0.5547 - accuracy: 0.7311

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5556 - accuracy: 0.7263 - 728ms/epoch - 3ms/step
Loss: 0.5556128025054932, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file
nn_model.save("Outputs/Optimizations/AlphabetSoupCharity_Xtra_layer.h5")

### Optimizing Model with different activation function

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model_2 = tf.keras.models.Sequential()

# First hidden layer
nn_model_2.add(tf.keras.layers.Dense(units=80, activation="tanh", input_dim=42))
# Second hidden layer
nn_model_2.add(tf.keras.layers.Dense(units=80, activation="tanh"))

# Output layer
nn_model_2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model_2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 80)                3440

 dense_8 (Dense)             (None, 80)                6480

 dense_9 (Dense)             (None, 1)                 81

=================================================================
Total params: 10001 (39.07 KB)
Trainable params: 10001 (39.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn_model_2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model_2.fit(X_train_scaled, y_train, epochs=2)

Epoch 1/2
804/804 [==============================] - 3s 2ms/step - loss: 0.5751 - accuracy: 0.7211
Epoch 2/2
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7297

In [ ]:
# Evaluate the model using the test data
model_2_loss, model_2_accuracy = nn_model_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_2_loss}, Accuracy: {model_2_accuracy}")

268/268 - 1s - loss: 0.5590 - accuracy: 0.7263 - 506ms/epoch - 2ms/step
Loss: 0.5589941143989563, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file
nn_model_2.save("Outputs/Optimizations/AlphabetSoupCharity_tanh.h5")

### Optimzing model with more epochs

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model_3 = tf.keras.models.Sequential()

# First hidden layer
nn_model_3.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=42))

# Second hidden layer
nn_model_3.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model_3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model_3.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 80)                3440

 dense_11 (Dense)            (None, 30)                2430

 dense_12 (Dense)            (None, 1)                 31

=================================================================
Total params: 5901 (23.05 KB)
Trainable params: 5901 (23.05 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn_model_3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model_3.fit(X_train_scaled, y_train, epochs=4)

Epoch 1/4
804/804 [==============================] - 2s 2ms/step - loss: 0.5708 - accuracy: 0.7220
Epoch 2/4
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7305
Epoch 3/4
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7312
Epoch 4/4
804/804 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7309

In [ ]:
# Evaluate the model using the test data
model_3_loss, model_3_accuracy = nn_model_3.evaluate(X_test_scaled,y_test,verbose=2, batch_size=1 )
print(f"Loss: {model_3_loss}, Accuracy: {model_3_accuracy}")

8575/8575 - 12s - loss: 0.5541 - accuracy: 0.7241 - 12s/epoch - 1ms/step
Loss: 0.5541067719459534, Accuracy: 0.7240816354751587

In [ ]:
# Export our model to HDF5 file
nn_model_3.save("Outputs/Optimizations/AlphabetSoupCharity_moreEpoch.h5")

### Optimizing Model by dropping features

In [ ]:
# Import Dependencies
# Using the RandomForestClassifier to create random forest classifier
# Identifies the least important features in model
from sklearn.ensemble import RandomForestClassifier

model_RF = RandomForestClassifier()
model_RF.fit(X_train_scaled, y_train)
importances = model_RF.feature_importances_

feature_importances = zip(X_train.columns, importances)
sorted_features = sorted(feature_importances, key=lambda x: x[1], reverse=True)

for feature, importance in sorted_features:
    print(f"Features: {feature}, Importance: {importance}")

Features: ASK_AMT, Importance: 0.4037461794305867
Features: AFFILIATION_Independent, Importance: 0.13280935342989694
Features: AFFILIATION_CompanySponsored, Importance: 0.12744406593014815
Features: APPLICATION_TYPE_T5, Importance: 0.027033525730997696
Features: ORGANIZATION_Association, Importance: 0.026480142333735995
Features: APPLICATION_TYPE_T10, Importance: 0.025172003126968517
Features: ORGANIZATION_Trust, Importance: 0.020424919609492935
Features: CLASSIFICATION_Other, Importance: 0.018993071931454858
Features: CLASSIFICATION_C2100, Importance: 0.01806344348352881
Features: APPLICATION_TYPE_T4, Importance: 0.01752072866882305
Features: CLASSIFICATION_C2000, Importance: 0.01719784664625821
Features: APPLICATION_TYPE_T19, Importance: 0.016877784845774915
Features: APPLICATION_TYPE_T3, Importance: 0.015145658065046981
Features: CLASSIFICATION_C1000, Importance: 0.013167020866200564
Features: USE_CASE_ProductDev, Importance: 0.01174079172882944
Features: APPLICATION_TYPE_T6, Importance: 0.01163881187112706
Features: USE_CASE_Preservation, Importance: 0.010460105659337833
Features: INCOME_AMT_0, Importance: 0.009820652979870781
Features: CLASSIFICATION_C1200, Importance: 0.009150979887172079
Features: INCOME_AMT_25000-99999, Importance: 0.007540824057950918
Features: CLASSIFICATION_C3000, Importance: 0.0071475199109350285
Features: INCOME_AMT_1M-5M, Importance: 0.0069208266933562124
Features: INCOME_AMT_100000-499999, Importance: 0.006725704059623987
Features: INCOME_AMT_1-9999, Importance: 0.005826594443124254
Features: APPLICATION_TYPE_T8, Importance: 0.0042998179167201825
Features: INCOME_AMT_10000-24999, Importance: 0.0037363815167752385
Features: APPLICATION_TYPE_T7, Importance: 0.0036751339367995226
Features: INCOME_AMT_10M-50M, Importance: 0.0035819111824178657
Features: USE_CASE_CommunityServ, Importance: 0.0032218170151299074
Features: ORGANIZATION_Co-operative, Importance: 0.003018185047810197
Features: INCOME_AMT_50M+, Importance: 0.0020898556197770776
Features: APPLICATION_TYPE_Other, Importance: 0.002075725262040298
Features: INCOME_AMT_5M-10M, Importance: 0.0018587422376516915
Features: AFFILIATION_Family/Parent, Importance: 0.0013516502727057515
Features: USE_CASE_Heathcare, Importance: 0.0011995915578838939
Features: SPECIAL_CONSIDERATIONS, Importance: 0.0009394829531642894
Features: AFFILIATION_National, Importance: 0.0007715814841364411
Features: ORGANIZATION_Corporation, Importance: 0.0004764597640409344
Features: AFFILIATION_Regional, Importance: 0.0003418118310550522
Features: STATUS, Importance: 0.00022726920422325758
Features: USE_CASE_Other, Importance: 4.582752953712286e-05
Features: AFFILIATION_Other, Importance: 4.020027788925154e-05

In [ ]:
# Dropping Noise columns
low_importance_features = ['SPECIAL_CONSIDERATIONS', 'STATUS']

# Dropping low importance features in X
X_train_reduced = X_train.drop(low_importance_features, axis=1)
X_test_reduced = X_test.drop(low_importance_features, axis=1)

In [ ]:
# Creating the StandardScaler instances
scaler = StandardScaler()

# Fiting the StandardScaler
X_scaler_reduced = scaler.fit(X_train_reduced)

# Scaling the data
X_train_scaled_reduced = X_scaler_reduced.transform(X_train_reduced)
X_test_scaled_reduced = X_scaler_reduced.transform(X_test_reduced)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model_4 = tf.keras.models.Sequential()

# First hidden layer
nn_model_4.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=40))

# Second hidden layer
nn_model_4.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model_4.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model_4.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 80)                3280

 dense_14 (Dense)            (None, 30)                2430

 dense_15 (Dense)            (None, 1)                 31

=================================================================
Total params: 5741 (22.43 KB)
Trainable params: 5741 (22.43 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn_model_4.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model_4.fit(X_train_scaled_reduced, y_train, epochs=2)

Epoch 1/2
804/804 [==============================] - 2s 2ms/step - loss: 0.5705 - accuracy: 0.7217
Epoch 2/2
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7313

In [ ]:
# Evaluate the model using the test data
model_4_loss, model_4_accuracy = nn_model_4.evaluate(X_test_scaled_reduced,y_test,verbose=2, batch_size=1 )
print(f"Loss: {model_4_loss}, Accuracy: {model_4_accuracy}")

8575/8575 - 12s - loss: 0.5563 - accuracy: 0.7258 - 12s/epoch - 1ms/step
Loss: 0.5562717318534851, Accuracy: 0.7258309125900269

In [ ]:
# Export our model to HDF5 file
nn_model_4.save("Outputs/Optimizations/AlphabetSoupCharity_Drop_Noise.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

### Optimizing model with Keras Tuner

In [ ]:
# Creating the method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model_5 = tf.keras.models.Sequential()

    # Allowing kerastuner to decide what activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allowing kerastuner to decide number of neurons in first layer
    nn_model_5.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=120,
        step=10), activation=activation, input_dim=42))

    # Allowing kerastuner to decide the number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model_5.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=120,
            step=10),
            activation=activation))

    nn_model_5.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model_5.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model_5

In [ ]:
# Import the kerastuner library
!pip install -q -U keras-tuner
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=10,
    hyperband_iterations=2)

     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 128.9/128.9 kB 2.5 MB/s eta 0:00:00

In [ ]:
# Running kerastuner search to get best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=10,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 43s]
val_accuracy: 0.7252478003501892

Best val_accuracy So Far: 0.7286297082901001
Total elapsed time: 00h 15m 15s

In [ ]:
# Finding the best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 61,
 'num_layers': 3,
 'units_0': 11,
 'units_1': 11,
 'units_2': 81,
 'units_3': 41,
 'units_4': 21,
 'tuner/epochs': 10,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [ ]:
# Evaluating the best model with the full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5548 - accuracy: 0.7286 - 723ms/epoch - 3ms/step
Loss: 0.5547501444816589, Accuracy: 0.7286297082901001

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model_tuner = tf.keras.models.Sequential()

# First hidden layer
nn_model_tuner.add(tf.keras.layers.Dense(units=81, activation="relu", input_dim=42))

# Second hidden layer
nn_model_tuner.add(tf.keras.layers.Dense(81, activation='relu'))

# Third hidden layer
nn_model_tuner.add(tf.keras.layers.Dense(21, activation='relu'))

# Output layer
nn_model_tuner.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model_tuner.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 81)                3483

 dense_6 (Dense)             (None, 81)                6642

 dense_7 (Dense)             (None, 21)                1722

 dense_8 (Dense)             (None, 1)                 22

=================================================================
Total params: 11869 (46.36 KB)
Trainable params: 11869 (46.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn_model_tuner.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model_tuner.fit(X_train_scaled, y_train, epochs=2)

Epoch 1/2
804/804 [==============================] - 5s 5ms/step - loss: 0.5684 - accuracy: 0.7257
Epoch 2/2
804/804 [==============================] - 3s 4ms/step - loss: 0.5562 - accuracy: 0.7298

In [ ]:
# Evaluate the model using the test data
model_tuner_loss, model_tuner_accuracy = nn_model_tuner.evaluate(X_test_scaled,y_test,verbose=2, batch_size=1 )
print(f"Loss: {model_tuner_loss}, Accuracy: {model_tuner_accuracy}")

8575/8575 - 25s - loss: 0.5550 - accuracy: 0.7242 - 25s/epoch - 3ms/step
Loss: 0.5550408363342285, Accuracy: 0.7241982221603394

In [ ]:
# Export our model to HDF5 file
nn_model_tuner.save("Outputs/Optimizations/AlphabetSoupCharity_keras_tuner.h5")